* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #F5F5F5;
    padding: 16px 0;
    color: #702F8A;
}

header img{
    height: 180px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #702F8A;
    text-decoration: none;
}

.container {    
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width:100%;
    ;
}

.articles article{
    width: 30%;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

section h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: #702F8A;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.artiles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

.social-links img {
    height: 40px;
}

.social-links li {
    display: inline;
    margin: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #702F8A;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #964ab4;
}

input:focus, textarea:focus{
    outline-color: #702F8A;
}

footer {
    background-color: #702F8A;
    color: #ecf0f1;
    padding: 16px 0;
}